{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %} 
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row p-1">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <img src="/static/contact.png">
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4 mt-4 ml-1">Contact</h1>
                </div>
                <form class="user" method="POST" action="/contact">
                    {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" name="name" id="exampleInputEmail"  placeholder="Fullname">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" name="email" id="exampleInputPassword" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Write your Message!"></textarea>
                  </div>
                  <button  class="btn btn-primary btn-user btn-block">
                    Submit
                  </button>
    
                 </form>
                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
        
      </form>
</div>
{% endblock body %}