{% extends 'dashboard.html' %}

{% block title %} {% endblock title %} 

{% block body %}

<div class="container">
 <!--   
    <div class="col-xl-4">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                {% for content in contents %}
                <form class="container p-5">
                    {% csrf_token %}
                    <div class="container mb-3">
                        
                        <h5 align="center"> {{content.name}} </h5>
                        <h6 align="center"> {{content.ram}} RAM </h6>
                    <hr>
                        <h1 align="center"> {{content.quantity}} </h1>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div> 
-->
    
    <!-- Outer Row --> 
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <form class="container p-5">
                        {% csrf_token %}
                        <div class="container mb-3">
                            <!-- <h3 align="center"> Dashboard </h3>
                             <hr> -->
                        </div>
                            <canvas id="myChart" width="400" height="350"></canvas>
                        
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Sales", "Buy", "Products"],
        datasets: [{
            label: 'Total',
            data: [10, 15, 20],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>



{% endblock body %}